div.list {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: var(--list-bg);
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: var(--border-clr) 1px solid;
  border-radius: 7.5px;
}

div.list div.content {
  height: calc(100% - 100px);
  overflow-y: scroll;
  margin-top: 5px;
}

div.list div.content.fullheight {
  height: calc(100% - 55px);
}

div.list div.header {
  height: 50px;
  background-color: var(--colored-bg);
  padding: 10px;
  box-sizing: border-box;
  border: var(--border-clr) 1px solid;
  border-radius: 7.5px;
}

div.list div.header button {
  padding: 5px;
}

div.list div.header button * {
  vertical-align: middle;
  font-size: inherit;
}

div.list div.header button span.material-icons {
  font-size: 18px;
  margin-right: 2.5px;
}

div.list div.content .options {
  text-align: right;
  width: 75px;
}

div.list div.content table:not(.compact) tr td {
  height: 39.33px !important;
}

div.list div.content table tr td img {
  height: 15px;
  vertical-align: middle;
}

div.list div.content table tr td * {
  vertical-align: middle;
}

div.list div.content table tr td span.counter {
  height: 24px;
  margin: 0 5px;
  padding: 2.5px 0;
}

* {
  vertical-align: middle;
}

div.list div.content .count button.suggested:disabled {
  opacity: 0.3;
}

div.list div.row {
  width: 100%;
  padding: 5px 0px;
  padding-bottom: 10px;
  border-bottom: 1px var(--border-clr) solid;
}
div.list div.row span {
  display: inline-block;
}

div.list .date {
  width: 25%;
}

div.list div.row .count {
  width: 40%;
}

div.list div.row .person {
  width: 32%;
  padding-left: 5px;
}

div.list div.row.head {
  margin-top: 10px;
}

div.list div.row.head * {
  font-weight: bold;
}

div.list div.row.head .person {
  margin-left: -11px;
}

@media screen and (max-width: 900px) {
  div.list .date {
    width: 105px;
  }

  div.list div.row .count {
    width: 90px;
  }

  div.list div.row .person {
    width: calc(100% - 110px - 100px);
  }
}
div.list div.content table button:disabled {
  opacity: 0.3;
}

p.title {
  margin: 5px 0 !important;
}
