div.list {
  width: 100%;
  height: 100%;
  background-color: var(--list-bg);
  padding: 15px;
  box-sizing: border-box;
  color: var(--general-fg);
  display: flex;
  flex-direction: column;
}

div.list div.content {
  flex-grow: 1;
  overflow-y: scroll;
}

div.list div.header {
  height: 45px;
  box-sizing: border-box;
  border-bottom: var(--border-clr) 1px solid;

  padding: 0 5px;
  padding-bottom: 15px;
}

div.list table.compact.stats tr td:not(.dynamic) {
  min-width: 110px;
}

div.list table.compact.stats tr.header * {
  font-weight: bold;
}

div.list table.compact.stats tr td span.material-icons[class*="prize"] {
  color: #555;
}

div.list table.compact.stats tr td span.material-icons.prize1 {
  color: #ffd700;
}

div.list table.compact.stats tr td span.material-icons.prize2 {
  color: #cc6633;
}

div.list table.compact.stats tr td span.material-icons.prize3 {
  color: silver;
}

div.list table.compact.stats tr td span.material-icons.prize4 {
  color: #b87333;
}

div.list div.header button {
  padding: 5px;
}

div.list div.header button * {
  vertical-align: middle;
  font-size: inherit;
}

div.list div.header button span.material-icons {
  font-size: 18px;
  margin-right: 2.5px;
  width: 18px !important;
  height: 18px !important;
}

div.list div.header button span.reloading {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

div.list div.content .options {
  text-align: right;
  width: 75px;
}

div.list div.content p.loading {
  text-align: center;
  margin-top: 20px;
}

div.list div.content p.loading span {
  display: block;
  margin-top: 10px;
}

div.list div.content p.loading span.material-icons {
  font-size: 30px;
}

div.list div.content .count img.egg {
  height: 15px;
  vertical-align: middle;
}
/* 
* {
  vertical-align: middle;
}
 */
div.list div.content .count button.suggested:disabled {
  opacity: 0.3;
}

div.list div.row {
  width: 100%;
  padding: 5px 10px;
  border-bottom: 1px var(--border-clr) solid;
  box-sizing: border-box;
  line-height: 25px;
}
div.list div.row span {
  display: inline-block;
}

div.list .date {
  width: 25%;
}

div.list div.row .count {
  width: 40%;
}

div.list div.row .person {
  width: 32%;
  padding-left: 5px;
}

div.list div.row.head {
  margin-top: 7px;
}

div.list div.row.head * {
  font-weight: bold;
}

div.list div.row.head .person {
  margin-left: -11px;
}

div.list h3.big {
  font-size: 23px;
}
@media screen and (max-width: 800px) {
  div.list .date {
    width: 105px;
  }

  div.list div.row .count {
    width: 90px;
  }

  div.list div.row .person {
    width: calc(100% - 110px - 100px);
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

div.list div.content table tr td {
  height: 24px !important;
}

div.list div.content table tr td img {
  height: 15px;
  vertical-align: middle;
}

div.list div.content table tr td * {
  vertical-align: middle;
}

div.list table.compact.stats {
  margin: 20px;
}

div.list table.compact.stats tr td:not(.dynamic) {
  min-width: 110px;
}

div.list table.compact.stats tr.header * {
  font-weight: bold;
}

div.list table.compact.stats tr td span.material-icons[class*="prize"] {
  color: #555;
}

div.list table.compact.stats tr td span.material-icons.prize1 {
  color: #ffd700;
}

div.list table.compact.stats tr td span.material-icons.prize2 {
  color: #cc6633;
}

div.list table.compact.stats tr td span.material-icons.prize3 {
  color: silver;
}

div.list table.compact.stats tr td span.material-icons.prize4 {
  color: #b87333;
}

div.list div.content table:not(.compact) tr td {
  height: 39.33px !important;
}
