div.pagecontent {
    position:fixed;
    top:50px;
    left:300px;
    width:calc(100% - 300px);
    height:calc(100% - 50px);
    box-sizing: border-box;
    background-color: #e4ffe4;
    transition:left 0.3s, width 0.3s;
    padding:10px;
}


@media screen and (max-width: 900px) {
    div.pagecontent {
      left:100%;
      width:100%;
    }
  }