div.sidebar {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 300px;
  height: calc(100% - 50px);
  box-sizing: border-box;
  padding: 0;
  background-color: var(--bg-clrd);
  border-right: var(--border-clr) 1px solid;
  transition:width 0.3s;
  overflow: hidden;
}

div.sidebar * {
    vertical-align: middle;
}

div.sidebar p {
    margin:0px;
}

div.sidebar img {
    height:70px;
    margin-right: 5px;
}

div.sidebar h3 {
    margin:0px;
    font-weight: bold;
    font-size: 20px;
}

div.sidebar div.top {
  height:160px;
  width:100%;
  background-color: var(--bg-clrd);
  border-bottom: var(--border-clr) 1px solid;
  box-sizing: border-box;
  padding:20px;
  text-align: center;
  color:var(--general-fg);
}

div.sidebar div.top h2 {
  margin: 0;
  margin-top:10px;
}

div.sidebar div.bottom {
  height:calc(100% - 160px);
  box-sizing: border-box;
  padding:20px;
  overflow-y:auto;
  color:var(--general-fg)
}

div.sidebar button.pagelink {
  border-radius: 5px;
  padding:10px 10px !important;
}

div.sidebar button.pagelink.activated {
  background-color: var(--button-bg);
  font-weight: bold;
}

div.sidebar p.page * {
  vertical-align: middle;
}

div.sidebar p.page span {
  margin-right: 5px;
}

@media screen and (max-width: 900px) {
  div.sidebar {
    width: 100%;
  }
}