div.sidebar {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 300px;
  height: calc(100% - 50px);
  box-sizing: border-box;
  padding: 0;
  background-color: #fefefe;
  transition:width 0.3s;
  overflow: hidden;
}

div.sidebar * {
    vertical-align: middle;
}

div.sidebar p {
    margin:0px;
}

div.sidebar img {
    height:70px;
    margin-right: 5px;
}

div.sidebar h3 {
    margin:0px;
    font-weight: bold;
    font-size: 20px;
}

div.sidebar div.top {
  height:160px;
  width:100%;
  background-color: #bcecbc;
  box-sizing: border-box;
  padding:20px;
  text-align: center;
  color:black;
}

div.sidebar div.top h2 {
  margin: 0;
  margin-top:10px;
}

div.sidebar div.bottom {
  height:calc(100% - 160px);
  background-color: #fafafa;
  box-sizing: border-box;
  padding:20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

div.sidebar p.page {
  padding:10px;
  width:100%;
  border-radius: 7.5px;
  background-color: #9595950f;
  box-sizing: border-box;
}

div.sidebar button.pagelink {
  border-left: #0000 5px solid;
  border-radius: 0;
  padding:10px 6px !important;
}

div.sidebar button.pagelink.activated {
  color:rgb(82, 82, 231);
  border-left:rgb(82, 82, 231) 5px solid;
}

div.sidebar p.page * {
  vertical-align: middle;
}

div.sidebar p.page span {
  margin-right: 5px;
}

@media screen and (max-width: 900px) {
  div.sidebar {
    width: 100%;
  }
}