div.app.nosidebar div.pagecontent {
  left: 0px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  div.app.nosidebar div.pagecontent {
    left: 300px;
    width: calc(100% - 300px);
  }
}
