button,
input {
  border-radius: 4px;
  color: #333;
  box-sizing: border-box;
}

button {
  background-color: #0001;
  border: #0001 1px solid;
  padding: 10px 20px;
  transition: background-color 0.2s, opacity 0.2s;
}

button:disabled {
  opacity: 0.5;
}

button:hover {
  background-color: #fff3;
}

button:active {
  background-color: #0003;
}

input {
  border: #0004 1px solid;
  padding: 10px 5px;
  background-color: #fff;
}

.fullwidth {
  width: 100%;
}

button.flat {
  background-color: transparent;
  border: none;
}

button.flat:hover {
  background-color: #0001;
  border: none;
}

button.flat:active {
  background-color: #0002;
  border: none;
}

button.suggested {
  background-color: #0f03;
  border: #0002 1px solid;
}

button.suggested:hover {
  background-color: #0f05;
}

button.suggested:active {
  background-color: #0a0a;
}

button.danger {
  background-color: rgba(255, 0, 0, 0.2);
  border: #0002 1px solid;
}

button.danger:hover {
  background-color: rgba(255, 0, 0, 0.333);
}

button.danger:active {
  background-color: rgba(170, 0, 0, 0.667);
  color:white;
}

button.small {
  padding:5px !important;
}

button.fullwidth {
  width:100%;
  box-sizing: border-box;
  text-align: left;
}

button * {
  vertical-align: middle;
}

button span.material-icons.button {
  font-size:18px;
  margin-right:5px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button.material-icons {
  padding:0;
  border:none;
  background-color: transparent;
}