button,
input {
  border-radius: 4px;
  color: var(--button-input-fg);
  box-sizing: border-box;
}

button {
  background-color: var(--button-bg);

  border: none; /* 
  border: var(--border-clr) 1px solid; */
  padding: 10px 20px;
  transition: background-color 0.2s, opacity 0.2s;
}

button:disabled {
  opacity: 0.5;
}

button:hover {
  background-color: var(--button-hover-bg);
}

button:active {
  background-color: var(--button-active-bg);
}

input {
  border: var(--border-clr) 1px solid;
  padding: 10px 12.5px;
  background-color: var(--input-bg);
}

.fullwidth {
  width: 100%;
}

button.flat {
  background-color: transparent;
  border: none;
}

div.header button.flat {
  margin-left: 10px;
}

button.flat:hover {
  background-color: var(--button-flat-hover-bg);
  border: none;
}

button.flat:active {
  background-color: var(--button-flat-active-bg);
  border: none;
}

button.suggested {
  background-color: var(--button-suggested-bg);
  /* border: #0002 1px solid; */
}

button.suggested:hover {
  background-color: var(--button-suggested-hover-bg);
}

button.suggested:active {
  background-color: var(--button-suggested-active-bg);
}

button.danger {
  background-color: rgba(255, 0, 0, 0.2);
}

button.danger:hover {
  background-color: rgba(255, 0, 0, 0.333);
}

button.danger:active {
  background-color: rgba(170, 0, 0, 0.667);
  color: white;
}

button.small {
  padding: 5px 10px !important;
}

button.fullwidth {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

button * {
  vertical-align: middle;
}

button span.material-icons.button {
  font-size: 18px;
  margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button.material-icons {
  padding: 0;
  border: none;
  background-color: transparent;
}
